body {
	background-color: white;
	background-size: cover;
	text-align: justify;
}

.header {
	width: 100%;
}

.wrapper {
	width: 100%;
}

.container {
	width: 100%;
	margin: 0 auto;
}

.nav {
	float: right;
}

h1, h3 {
	font-family: Georgia, sans-serif;
	font-weight: bold;
	text-decoration: underline;
	color: #002868;
}

h1 {
	text-transform: uppercase;
	text-align: center;
}

.tagline {
	text-align: center;
}

h3 {
	font-size: 24px;
}

.important {
	font-size: 18px;
}

#fourth {
	font-family: Georgia, sans-serif;
	font-weight: bold;
	text-decoration: underline;
	font-size: 24px;
	color: #002868;
}

p {
	font-family: Verdana, monospace;
}


a {
	font-size: 18px;
	font-family: Georgia, sans-serif;
	font-style: italic; 
	font-weight: bold;
	text-decoration: underline;
	color: #00607C
;
}