body {
	background-color: white;
	background-size: cover;
	text-align: justify;
}

.header-img {
	width: 674px;
	background-color: black;
}

.wrapper {
	width: 100%;
}

.container {
	width: 100%;
}

ul.smallnav {
	list-style-type: none;
	margin: 0;
	padding: 0px 0px 30px 0px;
	overflow: hidden;
	background-color: white; 
}

ul.smallnav li{
	float: right;
	border-right: 2px solid white;
}

ul.smallnav li a {
	display: inline-block;
	text-align: center;
	padding: 5px 10px;
	color: black;
	font-family: Arial, sans-serif;
	font-weight: bold;
	text-decoration: none;
	font-style: none;
	font-size: 13px;
}

ul.headnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #ededed;
}

ul.headnav li {
	float: left;
	border-top: 2px solid #A9A9A9;
	border-bottom: 2px solid #A9A9A9;
	border-left: 2px solid #A9A9A9;
	border-right: 2px solid #A9A9A9;
}

ul.headnav li a {
	display: inline-block;
	text-align: center;
	padding: 10px 15px;
	color: #191970;
	font-family: Arial, sans-serif;
	font-weight: bold;
	text-decoration: none;
	font-size: 15px;
}

.img-carousel {
	float:left;
	background-color: white;
	padding: 0 50px 50px 0;
}

h1 {
	font-family: Georgia, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: underline;
	font-size: 18px;
	color: #002868;
}

.loginbox {
	font-size: 18px;
}

p {
	font-family: Verdana, monospace;
	font-size: 12px;
}


a {
	font-size: 10px;
	font-family: Georgia, sans-serif;
	font-weight: bold;
	color: #00607C;
}