body {
	background-color: white;
	background-size: cover;
	text-align: justify;
}

#header-img {
	width: 674px;
	background-color: black;
}

#wrapper {
	width: 100%;
}

#container {
	width: 100%;
}

ul.smallnav {
	list-style-type: none;
	margin: 0;
	padding: 0px 0px 2px 0px;
	overflow: hidden;
	background-color: #002868; 
}

ul.smallnav li{
	float: right;
}

ul.smallnav li a {
	display: inline-block;
	text-align: center;
	padding: 5px 10px;
	color: white;
	font-family: Arial, sans-serif;
	font-weight: bold;
	text-decoration: none;
	font-style: none;
	font-size: 13px;
}

ul.headnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #696969;
	border-top: 2px solid #696969;
	border-bottom: 2px solid #696969;
	border-left: 2px solid #696969;
	border-right: 2px solid #696969;
}

ul.headnav li {
	float: left;
	border-left: 2px solid #696969;
	border-right: 2px solid #696969;
}

ul.headnav li a {
	display: inline-block;
	text-align: center;
	padding: 10px 20px;
	color: white;
	font-family: Arial, sans-serif;
	font-weight: bold;
	text-decoration: none;
	font-size: 12px;
}

ul.headnav li a: hover {
	color: white;
	background-color: black;
}

.img-carousel {
	float:left;
	background-color: white;
	padding: 40px 50px;
}

.placeholder {
	float: right;
	padding: 40px 45px;
}

h1 {
	font-family: Georgia, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: underline;
	font-size: 18px;
	color: #002868;
}

.loginbox {
	font-size: 18px;
}

p {
	font-family: Verdana, monospace;
	font-size: 12px;
}


a {
	font-size: 10px;
	font-family: Georgia, sans-serif;
	font-weight: bold;
	color: #00607C;
}