body {
	background-color: #f2f2f2;
	background-size: cover;
}

h1 {
	font-family: Georgia, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 18px;
	color: #002868;
}

h3 {
	font-family: Georgia; sans-serif;
	font-weight: bold;
	font-size: 15px;
	color: #002868;
}

p {
	font-family: Arial, monospace;
	font-size: 12px;
}


a {
	font-size: 11px;
	font-family: Georgia, sans-serif;
	font-weight: bold;
	color: #00607C;
}

a img {
	border: none;
}

div {
	display: block;
}

.header {
	background-color: #00307c;
	width: 100%;
}

#global_nav {
	background-color: #00307c;
	height: 125px;
	width: 980px;
	margin: 0 auto;
}

#global_nav_header {
	float: left;
	padding: 5px;
	width: 676px;
}

#global_nav_links {
	color: white;
	float: left;
	font-family: Arial, sans-serif;
	height: 50px;
	margin: -7px 0 0 63px;
	padding: 30px 0 0;
	width: 460px;
}

#global_nav_links_icons a:link, {
	color: white;
	text-decoration: none;
}

#global_nav_links_icons a {
	display: block;
	float: left;
	height: 38px;
	margin: 0 0 0 30px;
	padding: 0;
	position: relative;
	top: 0;
	z-index: 1000;
}

#global_nav_link_iconJ, #global_nav_link_iconL, #global_nav_link_iconN, #global_nav_link_iconA {
	height: 38px;
	position: relative;
	z-index: 100;
}

.topnavigation {
	background-color: #696969;
	float: left;
	height: 50px;
	width: 100%;
}

#main_nav {
	height: 50px;
	margin: 0 auto;
	width: 980px;
	position: relative;
	z-index: 1000;
}

.main_nav_menu {
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 1000;
}

element.style {
	display: block;
	list-style: none;
}

.main_nav_menu ul.main_nav_dropmenu {
	margin: 0;
	padding: 0;
	background-color: #696969;
	height: 50px;
}

.main_nav_menu ul.main_nav_dropmenu li {
	color: white;
	font-family: Arial;
	font-weight: 600;
}

#main_nav a.main_nav_link {
	color: white;
	font-size: 12px;
	font-weight: 600;
	height: 33px;
	padding: 17px 14px 0;
}

.main_nav_menu ul.main_nav_dropmenu li a {
	border: none;
	line-height: 18px;
	text-decoration: none;
}

#first {
	background-color: #f2f2f2;
	width: 100%;
	height: 345px;
}

.img-carousel {
	float:left;
	background-color: #f2f2f2;
	padding: 40px 20px;
}

.placeholder {
	float: right;
	background-color: #f2f2f2;
	padding: 40px 20px 80px 40px;
}


#news {
	border: 2px solid #002868;
	margin-left: 100px;
	margin-top: 75px;
	margin-bottom: 75px;
	width: 300px;
	height: 200px;
	padding: 20px 20px;
	background-color: white;
}

ul.newslinks li a {
	font-family: Arial, sans-serif;
	font-weight: bold;
	text-decoration: none;
	font-size: 12px;
}

