@import url(https://fonts.googleapis.com/css?family=Domine:700);

body {
	background-color: #f2f2f2;
	background-size: cover;
}

h1 {
	font-family: Georgia, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 18px;
	color: #002868;
}

h3 {
	font-family: 'Domine', serif;
	font-weight: bold;
	font-size: 18px;
	color: #002868;
}

p {
	font-family: Arial, monospace;
	font-size: 12px;
}


a {
	font-size: 11px;
	font-family: Arial, sans-serif;
	font-weight: bold;
	color: black;
}

a:hover {
	background-color: grey;
}

a img {
	border: none;
}

div {
	display: block;
}

#wrapper {
	width:80%;
	margin: 0 auto;
	border-right-color: white;
	border-right-style: solid;
	border-right-width: 20px;
	border-left-color: white;
	border-left-style: solid;
	border-left-width: 20px;
	border-bottom-color: white;
	border-bottom-style: solid;
	border-bottom-width: 10px;
}

header {
	background-color: #002868;
}

#global_nav {
	background-color: #002868;
	background: url(http://www.fedbar.org/images/bg_header.jpg) repeat;
	background-size: 100%;
	height: 124px;
	margin: 0;
	z-index: -1;
	width: 80%;
}

#global_nav_header {
	float: left;
	padding: 0px;
	width: 63%;
	height: 11%;
}

#global_nav_header img {
	float: left;
	margin-top: 10px;
	margin-left: 8px;
}

#global_nav_header h1 {
	color: white;
	font-size: 1.8em;
	font-family: 'Domine', serif;
	float: left;
	letter-spacing: .01em;
	padding: 0.05em;
	margin: 0.9em 0.15em 0 0.3em;
	z-index: 2000;
}

#global_nav_header h3 {
	color: white;
	font-family: Arial;
	font-size: 0.8em;
	font-weight: normal;
	font-style: italic;
	float: left;
	padding: 0.1em;
	margin: 0 0.8em;
	z-index: 2000;
}

#global_nav_links_icons {
	color: white;
	float: left;
	margin: 4em -1em 0em;
	padding: 1em 0.5em;
	width: 32%;
	z-index: 1000;
}

#global_nav_links_icons a {
	color: #f2f2f2;
	font-family: Arial, sans-serif;
	text-decoration: none;
	display: block;
	float: left;
	height: 3em;
	margin: 0 0 0 2em;
	padding: 0;
	position: relative;
	top: 0;
	z-index: 1000;
}

#global_nav_link_iconJ, #global_nav_link_iconL, #global_nav_link_iconN, #global_nav_link_iconA {
	height: 3em;
	position: relative;
	z-index: 1000;
	text-align: center;
}

nav {
	position: absolute;
	float: left;
	height: 2.5em;
	width: 79%;
}

#main_nav {
	height: 2.4em;
	width: 79%;
	margin: 0 -0.1em 0 0.35em;
}

#main_nav, .main_nav_menu {
	position: absolute;
	z-index: 1000;
}

.main_nav_menu {
	margin: 0 -0.3em;
	padding: 0;
	width: 100%;
	height: 2.5em;
}

.main_nav_menu ul.main_nav_dropmenu {
	margin: -0.05em;
	padding: 0.05em 0.35em 0.05em 0em;
	background-color: #474747;
	height: 2.4em;
	width: 100%;
}

.main_nav_menu ul.main_nav_dropmenu li {
	color: white;
	font-family: Arial, sans-serif;
}

#main_nav a.main_nav_link {
	color: white;
	font-family: Arial, sans-serif;
	font-size: 0.8em;
	font-weight: 600;
	height: 1em;
	padding: 1em;
}

.main_nav_menu ul.main_nav_dropmenu li a {
	border: none;
	line-height: 18px;
	text-decoration: none;
}

.topbody {
	background-color: #e3e3e3;
	height: 23em;
	margin: 2em 0 0 0;
	padding: 1em 0 0 0;
}

#img-carousel {
	float:left;
	margin: 3em 8em;
}

#form_entry {
	float: left;
	border: 0.25em solid #0e307a;
	background-color: white;
	margin: 2em 2.5em;
	width: 17%;
	padding: 0.5em 1em;
}

.blueline_divider {
    width: 100%;
   	margin: 1.3em 0;
    border: 0.25em solid #002868;
}

#form_entry .form_entry_h3 {
	font-family: 'Domine', serif;
	font-weight: bolder;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 1em;
	color: #002868;
}

#form_entry a.form_entry_link {
	color: black;
	font-size: 0.8em;
	font-weight: bold;
	padding: 0;
	float: right;
}

.midbody {
	background-color: #0e307a;
	height: 20em;
	margin-bottom: -2em;
}

#news {
	float: left;
	border: 0.25em solid #002868;
	width: 16%;
	height: 14em;
	padding: 1em;
	margin: 2em 1.5em 2em 5.5em;
	background-color: white;
}

ul#newslinks li a {
	font-family: Arial, sans-serif;
	font-weight: bold;
	text-decoration: none;
	font-size: 12px;
}

#events {
	float: left;
	border: 0.25em solid #002868;
	padding: 1em;
	margin: 2em 1.5em;
	width: 16%;
	height: 14em;
	background-color: white;
}

ul#eventlinks li a {
	font-family: Arial, sans-serif;
	font-weight: bold;
	text-decoration: none;
	font-size: 12px;
}

#adspace {
	float: left;
	border: 0.25em solid #002868;
	padding: 1em;
	margin: 2em 5.5em 2em 1.5em;
	width: 17%;
	height: 14em;
	background-color: white;
}

#adspace img {
	display: block;
	margin: 0 auto;
}

h3#tagline {
	font-family: Arial;
	font-style: italic;
	font-size: 1em;
	border-bottom: 4px dashed black;
}

.lowerbody {
	background-color: white;
	height: 450px;
	margin: 0px;
}

#testimonials {
	background-color: white;
	height: 50px;
	margin: 0px;
}

h3#member_ts {
	color: #002868;
	font-size: 28px;
	font-weight: bold;
	letter-spacing: .05em;
	font-family: 'Domine', serif;
	text-align: center;
	padding: 10px;
}

#video {
	margin: 5px 5px 5px 90px;
	float: left;
}

#quote {
	background: white;
	width: 265px;
	height: 300px;
	margin: 3em 6em 0em 0em;
	padding: 5px;
	float: right;
}

#quote p {
	font-family: georgia, serif; 
	font-style: italic;
	font-size: 22px;
	line-height: 1em;
}

.quotetype {
	font-variant: small-caps;
	letter-spacing: .1em;
	font-family: Tahoma, sans-serif;
	font-style: normal;
	color: #092155;
	font-size: 27px;
	line-height: 1.8em;
	padding: .1em;
}

.right {
	text-align: right;
	padding: 1px;
	margin: 5px 0 35px;
}

#quote a.join_link {
	color: #0e307a;
	font-size: 18px;
	font-weight: 600;
	font-family: Arial, sans-serif;
	padding: 1px;
	margin: 40px 10px 40px 75px;
}

footer {
	height: 50px;
	background: rgba(211,211,211,0.3);
	border: 1px solid darkgrey;
}

#contact {
	float: left;
	width: 250px;
	padding: 1px;
	margin: 0px 5px;
}

#contact_icons {
	float: left;
	width: 105px;
	padding: 1px;
	margin: 8px 5px 9px 675px;
}