body {
	background-color: #f2f2f2;
	background-size: cover;
}

h1 {
	font-family: Georgia, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 18px;
	color: #002868;
}

h3 {
	font-family: Georgia; sans-serif;
	font-weight: bold;
	font-size: 15px;
	color: #002868;
}

p {
	font-family: Arial, monospace;
	font-size: 12px;
}


a {
	font-size: 11px;
	font-family: Georgia, sans-serif;
	font-weight: bold;
	color: #00607C;
}

#header {
	background-image: url("images/bg_header.jpg"); 
	height: 123px;
	width: 960px;
	margin: 0;
	padding: 10px 0px;
	clear: both;
}

#logo {
	float: left;
	margin: 0;
	padding: 0px 0px 0px 10px;
	width: 674px;
	height: 122px;
}

#nav {
	float: right;
	width: 286px;
	clear: both;
}

ul.smallnav {
	list-style-type: none;
	display: inline-block;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #002868; 
	float: right;
}

ul.smallnav li{
	float: right;
	margin: 0px 10px;
}

ul.smallnav li a {
	text-align: center;
	padding: 5px 10px;
	color: white;
	font-family: Arial, sans-serif;
	font-weight: 80x;
	text-decoration: none;
	font-style: none;
	font-size: 85%;
}

ul.headnav {
	clear: both;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #696969;
	border-top: 2px solid #696969;
	border-bottom: 2px solid #696969;
	border-left: 2px solid #696969;
	border-right: 2px solid #696969;
}

ul.headnav li {
	float: left;
	border-left: 2px solid #696969;
	border-right: 2px solid #696969;
}

ul.headnav li a {
	display: inline-block;
	text-align: center;
	padding: 10px 20px;
	color: white;
	font-family: Arial, sans-serif;
	font-weight: lighter;
	text-decoration: none;
	font-size: 12px;
}

ul.headnav li a: hover {
	color: white;
	background-color: black;
}

#first {
	background-color: #f2f2f2;
	width: 100%;
	height: 345px;
}

.img-carousel {
	float:left;
	background-color: #f2f2f2;
	padding: 40px 20px;
}

.placeholder {
	float: right;
	background-color: #f2f2f2;
	padding: 40px 20px 80px 40px;
}


#news {
	border: 2px solid #002868;
	margin-left: 100px;
	margin-top: 75px;
	margin-bottom: 75px;
	width: 300px;
	height: 200px;
	padding: 20px 20px;
	background-color: white;
}

ul.newslinks li a {
	font-family: Arial, sans-serif;
	font-weight: bold;
	text-decoration: none;
	font-size: 12px;
}

